<!DOCTYPE html>
<html>
  <head>
    <title>BradsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= javascript_pack_tag 'facebookLogin' %>
    <%= javascript_pack_tag 'application' %>
    <div id="status"></div>
    <%= yield %>
  </body>
</html>
